src/Subtext.Framework/Web References/com.community-credit.www/affiliateservices.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:tm="http://microsoft.com/wsdl/mime/textMatching/" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:mime="http://schemas.xmlsoap.org/wsdl/mime/" xmlns:tns="http://www.community-credit.com/" xmlns:s="http://www.w3.org/2001/XMLSchema" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" xmlns:http="http://schemas.xmlsoap.org/wsdl/http/" targetNamespace="http://www.community-credit.com/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <s:schema elementFormDefault="qualified" targetNamespace="http://www.community-credit.com/">
      <s:element name="AddNewsgroupItem">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="MessageId" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="ReferenceId" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="NewsgroupID" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="User" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="Subject" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="Message" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="NewsgroupDate" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="AffiliateCode" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="AffiliateKey" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="AddNewsgroupItemResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="AddNewsgroupItemResult" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="GenerateFutureCredit">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="EarnerEmail" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="EarnerFirstName" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="EarnerLastName" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="TaskDescription" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="ReferenceURL" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="PointCategory" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="AffiliateCode" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="AffiliateKey" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="GenerateFutureCreditResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="GenerateFutureCreditResult" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="AutoSubmitBlog">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="RSSFeedURL" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="AffiliateCode" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="AffiliateKey" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="BlogURL" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="BlogTitle" type="s:string" />
            <s:element minOccurs="1" maxOccurs="1" name="BlogDate" type="s:dateTime" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="AutoSubmitBlogResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="AutoSubmitBlogResult" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="AddNewsgroupCredit">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="EarnerEmail" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="EarnerFirstName" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="EarnerLastName" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="TaskDescription" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="ReferenceURL" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="PointCategory" type="s:string" />
            <s:element minOccurs="1" maxOccurs="1" name="EarnedDate" type="s:dateTime" />
            <s:element minOccurs="0" maxOccurs="1" name="AffiliateCode" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="AffiliateKey" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="AddNewsgroupCreditResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="AddNewsgroupCreditResult" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="AddCommunityCredit">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="EarnerEmail" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="EarnerFirstName" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="EarnerLastName" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="TaskDescription" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="ReferenceURL" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="PointCategory" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="AffiliateCode" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="AffiliateKey" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="AddCommunityCreditResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="AddCommunityCreditResult" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="GetTopEarners">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="AffiliateCode" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="AffiliateKey" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="GetTopEarnersResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="GetTopEarnersResult">
              <s:complexType>
                <s:sequence>
                  <s:element ref="s:schema" />
                  <s:any />
                </s:sequence>
              </s:complexType>
            </s:element>
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="SpreadTheWord">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="AffiliateCode" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="AffiliateKey" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="FromName" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="ToEmailAddress" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="FirstName" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="LastName" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="SpreadTheWordResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="SpreadTheWordResult" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="GetDemographics">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="AffiliateCode" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="AffiliateKey" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="GetDemographicsResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="GetDemographicsResult">
              <s:complexType>
                <s:sequence>
                  <s:element ref="s:schema" />
                  <s:any />
                </s:sequence>
              </s:complexType>
            </s:element>
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="GetTopEarnersByDateRange">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="StartDate" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="EndDate" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="AffiliateCode" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="AffiliateKey" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="GetTopEarnersByDateRangeResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="GetTopEarnersByDateRangeResult">
              <s:complexType>
                <s:sequence>
                  <s:element ref="s:schema" />
                  <s:any />
                </s:sequence>
              </s:complexType>
            </s:element>
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="PointCategoriesAll">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="AffiliateCode" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="AffiliateKey" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="PointCategoriesAllResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="PointCategoriesAllResult">
              <s:complexType>
                <s:sequence>
                  <s:element ref="s:schema" />
                  <s:any />
                </s:sequence>
              </s:complexType>
            </s:element>
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="GetEarnersByDateRangeAndEmail">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="Email" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="StartDate" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="EndDate" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="AffiliateCode" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="AffiliateKey" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="GetEarnersByDateRangeAndEmailResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="GetEarnersByDateRangeAndEmailResult">
              <s:complexType>
                <s:sequence>
                  <s:element ref="s:schema" />
                  <s:any />
                </s:sequence>
              </s:complexType>
            </s:element>
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="SendConfirmationEmail">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="EmailAddress" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="FirstName" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="SendConfirmationEmailResponse">
        <s:complexType />
      </s:element>
      <s:element name="SendWelcomeEmail">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="Source" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="strTo" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="FirstName" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="strPassword" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="strCommunities" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="strPasswordType" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="SendWelcomeEmailResponse">
        <s:complexType />
      </s:element>
      <s:element name="string" nillable="true" type="s:string" />
      <s:element name="DataSet" nillable="true">
        <s:complexType>
          <s:sequence>
            <s:element ref="s:schema" />
            <s:any />
          </s:sequence>
        </s:complexType>
      </s:element>
    </s:schema>
  </wsdl:types>
  <wsdl:message name="AddNewsgroupItemSoapIn">
    <wsdl:part name="parameters" element="tns:AddNewsgroupItem" />
  </wsdl:message>
  <wsdl:message name="AddNewsgroupItemSoapOut">
    <wsdl:part name="parameters" element="tns:AddNewsgroupItemResponse" />
  </wsdl:message>
  <wsdl:message name="GenerateFutureCreditSoapIn">
    <wsdl:part name="parameters" element="tns:GenerateFutureCredit" />
  </wsdl:message>
  <wsdl:message name="GenerateFutureCreditSoapOut">
    <wsdl:part name="parameters" element="tns:GenerateFutureCreditResponse" />
  </wsdl:message>
  <wsdl:message name="AutoSubmitBlogSoapIn">
    <wsdl:part name="parameters" element="tns:AutoSubmitBlog" />
  </wsdl:message>
  <wsdl:message name="AutoSubmitBlogSoapOut">
    <wsdl:part name="parameters" element="tns:AutoSubmitBlogResponse" />
  </wsdl:message>
  <wsdl:message name="AddNewsgroupCreditSoapIn">
    <wsdl:part name="parameters" element="tns:AddNewsgroupCredit" />
  </wsdl:message>
  <wsdl:message name="AddNewsgroupCreditSoapOut">
    <wsdl:part name="parameters" element="tns:AddNewsgroupCreditResponse" />
  </wsdl:message>
  <wsdl:message name="AddCommunityCreditSoapIn">
    <wsdl:part name="parameters" element="tns:AddCommunityCredit" />
  </wsdl:message>
  <wsdl:message name="AddCommunityCreditSoapOut">
    <wsdl:part name="parameters" element="tns:AddCommunityCreditResponse" />
  </wsdl:message>
  <wsdl:message name="GetTopEarnersSoapIn">
    <wsdl:part name="parameters" element="tns:GetTopEarners" />
  </wsdl:message>
  <wsdl:message name="GetTopEarnersSoapOut">
    <wsdl:part name="parameters" element="tns:GetTopEarnersResponse" />
  </wsdl:message>
  <wsdl:message name="SpreadTheWordSoapIn">
    <wsdl:part name="parameters" element="tns:SpreadTheWord" />
  </wsdl:message>
  <wsdl:message name="SpreadTheWordSoapOut">
    <wsdl:part name="parameters" element="tns:SpreadTheWordResponse" />
  </wsdl:message>
  <wsdl:message name="GetDemographicsSoapIn">
    <wsdl:part name="parameters" element="tns:GetDemographics" />
  </wsdl:message>
  <wsdl:message name="GetDemographicsSoapOut">
    <wsdl:part name="parameters" element="tns:GetDemographicsResponse" />
  </wsdl:message>
  <wsdl:message name="GetTopEarnersByDateRangeSoapIn">
    <wsdl:part name="parameters" element="tns:GetTopEarnersByDateRange" />
  </wsdl:message>
  <wsdl:message name="GetTopEarnersByDateRangeSoapOut">
    <wsdl:part name="parameters" element="tns:GetTopEarnersByDateRangeResponse" />
  </wsdl:message>
  <wsdl:message name="PointCategoriesAllSoapIn">
    <wsdl:part name="parameters" element="tns:PointCategoriesAll" />
  </wsdl:message>
  <wsdl:message name="PointCategoriesAllSoapOut">
    <wsdl:part name="parameters" element="tns:PointCategoriesAllResponse" />
  </wsdl:message>
  <wsdl:message name="GetEarnersByDateRangeAndEmailSoapIn">
    <wsdl:part name="parameters" element="tns:GetEarnersByDateRangeAndEmail" />
  </wsdl:message>
  <wsdl:message name="GetEarnersByDateRangeAndEmailSoapOut">
    <wsdl:part name="parameters" element="tns:GetEarnersByDateRangeAndEmailResponse" />
  </wsdl:message>
  <wsdl:message name="SendConfirmationEmailSoapIn">
    <wsdl:part name="parameters" element="tns:SendConfirmationEmail" />
  </wsdl:message>
  <wsdl:message name="SendConfirmationEmailSoapOut">
    <wsdl:part name="parameters" element="tns:SendConfirmationEmailResponse" />
  </wsdl:message>
  <wsdl:message name="SendWelcomeEmailSoapIn">
    <wsdl:part name="parameters" element="tns:SendWelcomeEmail" />
  </wsdl:message>
  <wsdl:message name="SendWelcomeEmailSoapOut">
    <wsdl:part name="parameters" element="tns:SendWelcomeEmailResponse" />
  </wsdl:message>
  <wsdl:message name="AddNewsgroupItemHttpGetIn">
    <wsdl:part name="MessageId" type="s:string" />
    <wsdl:part name="ReferenceId" type="s:string" />
    <wsdl:part name="NewsgroupID" type="s:string" />
    <wsdl:part name="User" type="s:string" />
    <wsdl:part name="Subject" type="s:string" />
    <wsdl:part name="Message" type="s:string" />
    <wsdl:part name="NewsgroupDate" type="s:string" />
    <wsdl:part name="AffiliateCode" type="s:string" />
    <wsdl:part name="AffiliateKey" type="s:string" />
  </wsdl:message>
  <wsdl:message name="AddNewsgroupItemHttpGetOut">
    <wsdl:part name="Body" element="tns:string" />
  </wsdl:message>
  <wsdl:message name="GenerateFutureCreditHttpGetIn">
    <wsdl:part name="EarnerEmail" type="s:string" />
    <wsdl:part name="EarnerFirstName" type="s:string" />
    <wsdl:part name="EarnerLastName" type="s:string" />
    <wsdl:part name="TaskDescription" type="s:string" />
    <wsdl:part name="ReferenceURL" type="s:string" />
    <wsdl:part name="PointCategory" type="s:string" />
    <wsdl:part name="AffiliateCode" type="s:string" />
    <wsdl:part name="AffiliateKey" type="s:string" />
  </wsdl:message>
  <wsdl:message name="GenerateFutureCreditHttpGetOut">
    <wsdl:part name="Body" element="tns:string" />
  </wsdl:message>
  <wsdl:message name="AutoSubmitBlogHttpGetIn">
    <wsdl:part name="RSSFeedURL" type="s:string" />
    <wsdl:part name="AffiliateCode" type="s:string" />
    <wsdl:part name="AffiliateKey" type="s:string" />
    <wsdl:part name="BlogURL" type="s:string" />
    <wsdl:part name="BlogTitle" type="s:string" />
    <wsdl:part name="BlogDate" type="s:string" />
  </wsdl:message>
  <wsdl:message name="AutoSubmitBlogHttpGetOut">
    <wsdl:part name="Body" element="tns:string" />
  </wsdl:message>
  <wsdl:message name="AddNewsgroupCreditHttpGetIn">
    <wsdl:part name="EarnerEmail" type="s:string" />
    <wsdl:part name="EarnerFirstName" type="s:string" />
    <wsdl:part name="EarnerLastName" type="s:string" />
    <wsdl:part name="TaskDescription" type="s:string" />
    <wsdl:part name="ReferenceURL" type="s:string" />
    <wsdl:part name="PointCategory" type="s:string" />
    <wsdl:part name="EarnedDate" type="s:string" />
    <wsdl:part name="AffiliateCode" type="s:string" />
    <wsdl:part name="AffiliateKey" type="s:string" />
  </wsdl:message>
  <wsdl:message name="AddNewsgroupCreditHttpGetOut">
    <wsdl:part name="Body" element="tns:string" />
  </wsdl:message>
  <wsdl:message name="AddCommunityCreditHttpGetIn">
    <wsdl:part name="EarnerEmail" type="s:string" />
    <wsdl:part name="EarnerFirstName" type="s:string" />
    <wsdl:part name="EarnerLastName" type="s:string" />
    <wsdl:part name="TaskDescription" type="s:string" />
    <wsdl:part name="ReferenceURL" type="s:string" />
    <wsdl:part name="PointCategory" type="s:string" />
    <wsdl:part name="AffiliateCode" type="s:string" />
    <wsdl:part name="AffiliateKey" type="s:string" />
  </wsdl:message>
  <wsdl:message name="AddCommunityCreditHttpGetOut">
    <wsdl:part name="Body" element="tns:string" />
  </wsdl:message>
  <wsdl:message name="GetTopEarnersHttpGetIn">
    <wsdl:part name="AffiliateCode" type="s:string" />
    <wsdl:part name="AffiliateKey" type="s:string" />
  </wsdl:message>
  <wsdl:message name="GetTopEarnersHttpGetOut">
    <wsdl:part name="Body" element="tns:DataSet" />
  </wsdl:message>
  <wsdl:message name="SpreadTheWordHttpGetIn">
    <wsdl:part name="AffiliateCode" type="s:string" />
    <wsdl:part name="AffiliateKey" type="s:string" />
    <wsdl:part name="FromName" type="s:string" />
    <wsdl:part name="ToEmailAddress" type="s:string" />
    <wsdl:part name="FirstName" type="s:string" />
    <wsdl:part name="LastName" type="s:string" />
  </wsdl:message>
  <wsdl:message name="SpreadTheWordHttpGetOut">
    <wsdl:part name="Body" element="tns:string" />
  </wsdl:message>
  <wsdl:message name="GetDemographicsHttpGetIn">
    <wsdl:part name="AffiliateCode" type="s:string" />
    <wsdl:part name="AffiliateKey" type="s:string" />
  </wsdl:message>
  <wsdl:message name="GetDemographicsHttpGetOut">
    <wsdl:part name="Body" element="tns:DataSet" />
  </wsdl:message>
  <wsdl:message name="GetTopEarnersByDateRangeHttpGetIn">
    <wsdl:part name="StartDate" type="s:string" />
    <wsdl:part name="EndDate" type="s:string" />
    <wsdl:part name="AffiliateCode" type="s:string" />
    <wsdl:part name="AffiliateKey" type="s:string" />
  </wsdl:message>
  <wsdl:message name="GetTopEarnersByDateRangeHttpGetOut">
    <wsdl:part name="Body" element="tns:DataSet" />
  </wsdl:message>
  <wsdl:message name="PointCategoriesAllHttpGetIn">
    <wsdl:part name="AffiliateCode" type="s:string" />
    <wsdl:part name="AffiliateKey" type="s:string" />
  </wsdl:message>
  <wsdl:message name="PointCategoriesAllHttpGetOut">
    <wsdl:part name="Body" element="tns:DataSet" />
  </wsdl:message>
  <wsdl:message name="GetEarnersByDateRangeAndEmailHttpGetIn">
    <wsdl:part name="Email" type="s:string" />
    <wsdl:part name="StartDate" type="s:string" />
    <wsdl:part name="EndDate" type="s:string" />
    <wsdl:part name="AffiliateCode" type="s:string" />
    <wsdl:part name="AffiliateKey" type="s:string" />
  </wsdl:message>
  <wsdl:message name="GetEarnersByDateRangeAndEmailHttpGetOut">
    <wsdl:part name="Body" element="tns:DataSet" />
  </wsdl:message>
  <wsdl:message name="SendConfirmationEmailHttpGetIn">
    <wsdl:part name="EmailAddress" type="s:string" />
    <wsdl:part name="FirstName" type="s:string" />
  </wsdl:message>
  <wsdl:message name="SendConfirmationEmailHttpGetOut" />
  <wsdl:message name="SendWelcomeEmailHttpGetIn">
    <wsdl:part name="Source" type="s:string" />
    <wsdl:part name="strTo" type="s:string" />
    <wsdl:part name="FirstName" type="s:string" />
    <wsdl:part name="strPassword" type="s:string" />
    <wsdl:part name="strCommunities" type="s:string" />
    <wsdl:part name="strPasswordType" type="s:string" />
  </wsdl:message>
  <wsdl:message name="SendWelcomeEmailHttpGetOut" />
  <wsdl:message name="AddNewsgroupItemHttpPostIn">
    <wsdl:part name="MessageId" type="s:string" />
    <wsdl:part name="ReferenceId" type="s:string" />
    <wsdl:part name="NewsgroupID" type="s:string" />
    <wsdl:part name="User" type="s:string" />
    <wsdl:part name="Subject" type="s:string" />
    <wsdl:part name="Message" type="s:string" />
    <wsdl:part name="NewsgroupDate" type="s:string" />
    <wsdl:part name="AffiliateCode" type="s:string" />
    <wsdl:part name="AffiliateKey" type="s:string" />
  </wsdl:message>
  <wsdl:message name="AddNewsgroupItemHttpPostOut">
    <wsdl:part name="Body" element="tns:string" />
  </wsdl:message>
  <wsdl:message name="GenerateFutureCreditHttpPostIn">
    <wsdl:part name="EarnerEmail" type="s:string" />
    <wsdl:part name="EarnerFirstName" type="s:string" />
    <wsdl:part name="EarnerLastName" type="s:string" />
    <wsdl:part name="TaskDescription" type="s:string" />
    <wsdl:part name="ReferenceURL" type="s:string" />
    <wsdl:part name="PointCategory" type="s:string" />
    <wsdl:part name="AffiliateCode" type="s:string" />
    <wsdl:part name="AffiliateKey" type="s:string" />
  </wsdl:message>
  <wsdl:message name="GenerateFutureCreditHttpPostOut">
    <wsdl:part name="Body" element="tns:string" />
  </wsdl:message>
  <wsdl:message name="AutoSubmitBlogHttpPostIn">
    <wsdl:part name="RSSFeedURL" type="s:string" />
    <wsdl:part name="AffiliateCode" type="s:string" />
    <wsdl:part name="AffiliateKey" type="s:string" />
    <wsdl:part name="BlogURL" type="s:string" />
    <wsdl:part name="BlogTitle" type="s:string" />
    <wsdl:part name="BlogDate" type="s:string" />
  </wsdl:message>
  <wsdl:message name="AutoSubmitBlogHttpPostOut">
    <wsdl:part name="Body" element="tns:string" />
  </wsdl:message>
  <wsdl:message name="AddNewsgroupCreditHttpPostIn">
    <wsdl:part name="EarnerEmail" type="s:string" />
    <wsdl:part name="EarnerFirstName" type="s:string" />
    <wsdl:part name="EarnerLastName" type="s:string" />
    <wsdl:part name="TaskDescription" type="s:string" />
    <wsdl:part name="ReferenceURL" type="s:string" />
    <wsdl:part name="PointCategory" type="s:string" />
    <wsdl:part name="EarnedDate" type="s:string" />
    <wsdl:part name="AffiliateCode" type="s:string" />
    <wsdl:part name="AffiliateKey" type="s:string" />
  </wsdl:message>
  <wsdl:message name="AddNewsgroupCreditHttpPostOut">
    <wsdl:part name="Body" element="tns:string" />
  </wsdl:message>
  <wsdl:message name="AddCommunityCreditHttpPostIn">
    <wsdl:part name="EarnerEmail" type="s:string" />
    <wsdl:part name="EarnerFirstName" type="s:string" />
    <wsdl:part name="EarnerLastName" type="s:string" />
    <wsdl:part name="TaskDescription" type="s:string" />
    <wsdl:part name="ReferenceURL" type="s:string" />
    <wsdl:part name="PointCategory" type="s:string" />
    <wsdl:part name="AffiliateCode" type="s:string" />
    <wsdl:part name="AffiliateKey" type="s:string" />
  </wsdl:message>
  <wsdl:message name="AddCommunityCreditHttpPostOut">
    <wsdl:part name="Body" element="tns:string" />
  </wsdl:message>
  <wsdl:message name="GetTopEarnersHttpPostIn">
    <wsdl:part name="AffiliateCode" type="s:string" />
    <wsdl:part name="AffiliateKey" type="s:string" />
  </wsdl:message>
  <wsdl:message name="GetTopEarnersHttpPostOut">
    <wsdl:part name="Body" element="tns:DataSet" />
  </wsdl:message>
  <wsdl:message name="SpreadTheWordHttpPostIn">
    <wsdl:part name="AffiliateCode" type="s:string" />
    <wsdl:part name="AffiliateKey" type="s:string" />
    <wsdl:part name="FromName" type="s:string" />
    <wsdl:part name="ToEmailAddress" type="s:string" />
    <wsdl:part name="FirstName" type="s:string" />
    <wsdl:part name="LastName" type="s:string" />
  </wsdl:message>
  <wsdl:message name="SpreadTheWordHttpPostOut">
    <wsdl:part name="Body" element="tns:string" />
  </wsdl:message>
  <wsdl:message name="GetDemographicsHttpPostIn">
    <wsdl:part name="AffiliateCode" type="s:string" />
    <wsdl:part name="AffiliateKey" type="s:string" />
  </wsdl:message>
  <wsdl:message name="GetDemographicsHttpPostOut">
    <wsdl:part name="Body" element="tns:DataSet" />
  </wsdl:message>
  <wsdl:message name="GetTopEarnersByDateRangeHttpPostIn">
    <wsdl:part name="StartDate" type="s:string" />
    <wsdl:part name="EndDate" type="s:string" />
    <wsdl:part name="AffiliateCode" type="s:string" />
    <wsdl:part name="AffiliateKey" type="s:string" />
  </wsdl:message>
  <wsdl:message name="GetTopEarnersByDateRangeHttpPostOut">
    <wsdl:part name="Body" element="tns:DataSet" />
  </wsdl:message>
  <wsdl:message name="PointCategoriesAllHttpPostIn">
    <wsdl:part name="AffiliateCode" type="s:string" />
    <wsdl:part name="AffiliateKey" type="s:string" />
  </wsdl:message>
  <wsdl:message name="PointCategoriesAllHttpPostOut">
    <wsdl:part name="Body" element="tns:DataSet" />
  </wsdl:message>
  <wsdl:message name="GetEarnersByDateRangeAndEmailHttpPostIn">
    <wsdl:part name="Email" type="s:string" />
    <wsdl:part name="StartDate" type="s:string" />
    <wsdl:part name="EndDate" type="s:string" />
    <wsdl:part name="AffiliateCode" type="s:string" />
    <wsdl:part name="AffiliateKey" type="s:string" />
  </wsdl:message>
  <wsdl:message name="GetEarnersByDateRangeAndEmailHttpPostOut">
    <wsdl:part name="Body" element="tns:DataSet" />
  </wsdl:message>
  <wsdl:message name="SendConfirmationEmailHttpPostIn">
    <wsdl:part name="EmailAddress" type="s:string" />
    <wsdl:part name="FirstName" type="s:string" />
  </wsdl:message>
  <wsdl:message name="SendConfirmationEmailHttpPostOut" />
  <wsdl:message name="SendWelcomeEmailHttpPostIn">
    <wsdl:part name="Source" type="s:string" />
    <wsdl:part name="strTo" type="s:string" />
    <wsdl:part name="FirstName" type="s:string" />
    <wsdl:part name="strPassword" type="s:string" />
    <wsdl:part name="strCommunities" type="s:string" />
    <wsdl:part name="strPasswordType" type="s:string" />
  </wsdl:message>
  <wsdl:message name="SendWelcomeEmailHttpPostOut" />
  <wsdl:portType name="AffiliateServicesSoap">
    <wsdl:operation name="AddNewsgroupItem">
      <wsdl:documentation xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">Add Newsgroup Entry</wsdl:documentation>
      <wsdl:input message="tns:AddNewsgroupItemSoapIn" />
      <wsdl:output message="tns:AddNewsgroupItemSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="GenerateFutureCredit">
      <wsdl:documentation xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">Add Community Credit Points</wsdl:documentation>
      <wsdl:input message="tns:GenerateFutureCreditSoapIn" />
      <wsdl:output message="tns:GenerateFutureCreditSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="AutoSubmitBlog">
      <wsdl:documentation xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">Add Community Credit Points</wsdl:documentation>
      <wsdl:input message="tns:AutoSubmitBlogSoapIn" />
      <wsdl:output message="tns:AutoSubmitBlogSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="AddNewsgroupCredit">
      <wsdl:documentation xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">Add Community Credit Points</wsdl:documentation>
      <wsdl:input message="tns:AddNewsgroupCreditSoapIn" />
      <wsdl:output message="tns:AddNewsgroupCreditSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="AddCommunityCredit">
      <wsdl:documentation xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">Add Community Credit Points</wsdl:documentation>
      <wsdl:input message="tns:AddCommunityCreditSoapIn" />
      <wsdl:output message="tns:AddCommunityCreditSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="GetTopEarners">
      <wsdl:documentation xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">Returns the Top Community Credit Point Earners</wsdl:documentation>
      <wsdl:input message="tns:GetTopEarnersSoapIn" />
      <wsdl:output message="tns:GetTopEarnersSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="SpreadTheWord">
      <wsdl:documentation xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">Returns the Top Community Credit Point Earners</wsdl:documentation>
      <wsdl:input message="tns:SpreadTheWordSoapIn" />
      <wsdl:output message="tns:SpreadTheWordSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="GetDemographics">
      <wsdl:documentation xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">Returns the Demographics of Community-Credit users</wsdl:documentation>
      <wsdl:input message="tns:GetDemographicsSoapIn" />
      <wsdl:output message="tns:GetDemographicsSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="GetTopEarnersByDateRange">
      <wsdl:documentation xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">Returns the Top Community Credit Point Earners for a Date Range</wsdl:documentation>
      <wsdl:input message="tns:GetTopEarnersByDateRangeSoapIn" />
      <wsdl:output message="tns:GetTopEarnersByDateRangeSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="PointCategoriesAll">
      <wsdl:documentation xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">Returns All Point Categories</wsdl:documentation>
      <wsdl:input message="tns:PointCategoriesAllSoapIn" />
      <wsdl:output message="tns:PointCategoriesAllSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="GetEarnersByDateRangeAndEmail">
      <wsdl:documentation xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">Returns Community Credit Point Earners by Date Range and Email</wsdl:documentation>
      <wsdl:input message="tns:GetEarnersByDateRangeAndEmailSoapIn" />
      <wsdl:output message="tns:GetEarnersByDateRangeAndEmailSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="SendConfirmationEmail">
      <wsdl:documentation xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">Send a Confirmation message to the new member that just signed up</wsdl:documentation>
      <wsdl:input message="tns:SendConfirmationEmailSoapIn" />
      <wsdl:output message="tns:SendConfirmationEmailSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="SendWelcomeEmail">
      <wsdl:documentation xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">Send a Welcome message to the new member</wsdl:documentation>
      <wsdl:input message="tns:SendWelcomeEmailSoapIn" />
      <wsdl:output message="tns:SendWelcomeEmailSoapOut" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:portType name="AffiliateServicesHttpGet">
    <wsdl:operation name="AddNewsgroupItem">
      <wsdl:documentation xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">Add Newsgroup Entry</wsdl:documentation>
      <wsdl:input message="tns:AddNewsgroupItemHttpGetIn" />
      <wsdl:output message="tns:AddNewsgroupItemHttpGetOut" />
    </wsdl:operation>
    <wsdl:operation name="GenerateFutureCredit">
      <wsdl:documentation xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">Add Community Credit Points</wsdl:documentation>
      <wsdl:input message="tns:GenerateFutureCreditHttpGetIn" />
      <wsdl:output message="tns:GenerateFutureCreditHttpGetOut" />
    </wsdl:operation>
    <wsdl:operation name="AutoSubmitBlog">
      <wsdl:documentation xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">Add Community Credit Points</wsdl:documentation>
      <wsdl:input message="tns:AutoSubmitBlogHttpGetIn" />
      <wsdl:output message="tns:AutoSubmitBlogHttpGetOut" />
    </wsdl:operation>
    <wsdl:operation name="AddNewsgroupCredit">
      <wsdl:documentation xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">Add Community Credit Points</wsdl:documentation>
      <wsdl:input message="tns:AddNewsgroupCreditHttpGetIn" />
      <wsdl:output message="tns:AddNewsgroupCreditHttpGetOut" />
    </wsdl:operation>
    <wsdl:operation name="AddCommunityCredit">
      <wsdl:documentation xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">Add Community Credit Points</wsdl:documentation>
      <wsdl:input message="tns:AddCommunityCreditHttpGetIn" />
      <wsdl:output message="tns:AddCommunityCreditHttpGetOut" />
    </wsdl:operation>
    <wsdl:operation name="GetTopEarners">
      <wsdl:documentation xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">Returns the Top Community Credit Point Earners</wsdl:documentation>
      <wsdl:input message="tns:GetTopEarnersHttpGetIn" />
      <wsdl:output message="tns:GetTopEarnersHttpGetOut" />
    </wsdl:operation>
    <wsdl:operation name="SpreadTheWord">
      <wsdl:documentation xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">Returns the Top Community Credit Point Earners</wsdl:documentation>
      <wsdl:input message="tns:SpreadTheWordHttpGetIn" />
      <wsdl:output message="tns:SpreadTheWordHttpGetOut" />
    </wsdl:operation>
    <wsdl:operation name="GetDemographics">
      <wsdl:documentation xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">Returns the Demographics of Community-Credit users</wsdl:documentation>
      <wsdl:input message="tns:GetDemographicsHttpGetIn" />
      <wsdl:output message="tns:GetDemographicsHttpGetOut" />
    </wsdl:operation>
    <wsdl:operation name="GetTopEarnersByDateRange">
      <wsdl:documentation xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">Returns the Top Community Credit Point Earners for a Date Range</wsdl:documentation>
      <wsdl:input message="tns:GetTopEarnersByDateRangeHttpGetIn" />
      <wsdl:output message="tns:GetTopEarnersByDateRangeHttpGetOut" />
    </wsdl:operation>
    <wsdl:operation name="PointCategoriesAll">
      <wsdl:documentation xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">Returns All Point Categories</wsdl:documentation>
      <wsdl:input message="tns:PointCategoriesAllHttpGetIn" />
      <wsdl:output message="tns:PointCategoriesAllHttpGetOut" />
    </wsdl:operation>
    <wsdl:operation name="GetEarnersByDateRangeAndEmail">
      <wsdl:documentation xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">Returns Community Credit Point Earners by Date Range and Email</wsdl:documentation>
      <wsdl:input message="tns:GetEarnersByDateRangeAndEmailHttpGetIn" />
      <wsdl:output message="tns:GetEarnersByDateRangeAndEmailHttpGetOut" />
    </wsdl:operation>
    <wsdl:operation name="SendConfirmationEmail">
      <wsdl:documentation xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">Send a Confirmation message to the new member that just signed up</wsdl:documentation>
      <wsdl:input message="tns:SendConfirmationEmailHttpGetIn" />
      <wsdl:output message="tns:SendConfirmationEmailHttpGetOut" />
    </wsdl:operation>
    <wsdl:operation name="SendWelcomeEmail">
      <wsdl:documentation xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">Send a Welcome message to the new member</wsdl:documentation>
      <wsdl:input message="tns:SendWelcomeEmailHttpGetIn" />
      <wsdl:output message="tns:SendWelcomeEmailHttpGetOut" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:portType name="AffiliateServicesHttpPost">
    <wsdl:operation name="AddNewsgroupItem">
      <wsdl:documentation xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">Add Newsgroup Entry</wsdl:documentation>
      <wsdl:input message="tns:AddNewsgroupItemHttpPostIn" />
      <wsdl:output message="tns:AddNewsgroupItemHttpPostOut" />
    </wsdl:operation>
    <wsdl:operation name="GenerateFutureCredit">
      <wsdl:documentation xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">Add Community Credit Points</wsdl:documentation>
      <wsdl:input message="tns:GenerateFutureCreditHttpPostIn" />
      <wsdl:output message="tns:GenerateFutureCreditHttpPostOut" />
    </wsdl:operation>
    <wsdl:operation name="AutoSubmitBlog">
      <wsdl:documentation xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">Add Community Credit Points</wsdl:documentation>
      <wsdl:input message="tns:AutoSubmitBlogHttpPostIn" />
      <wsdl:output message="tns:AutoSubmitBlogHttpPostOut" />
    </wsdl:operation>
    <wsdl:operation name="AddNewsgroupCredit">
      <wsdl:documentation xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">Add Community Credit Points</wsdl:documentation>
      <wsdl:input message="tns:AddNewsgroupCreditHttpPostIn" />
      <wsdl:output message="tns:AddNewsgroupCreditHttpPostOut" />
    </wsdl:operation>
    <wsdl:operation name="AddCommunityCredit">
      <wsdl:documentation xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">Add Community Credit Points</wsdl:documentation>
      <wsdl:input message="tns:AddCommunityCreditHttpPostIn" />
      <wsdl:output message="tns:AddCommunityCreditHttpPostOut" />
    </wsdl:operation>
    <wsdl:operation name="GetTopEarners">
      <wsdl:documentation xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">Returns the Top Community Credit Point Earners</wsdl:documentation>
      <wsdl:input message="tns:GetTopEarnersHttpPostIn" />
      <wsdl:output message="tns:GetTopEarnersHttpPostOut" />
    </wsdl:operation>
    <wsdl:operation name="SpreadTheWord">
      <wsdl:documentation xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">Returns the Top Community Credit Point Earners</wsdl:documentation>
      <wsdl:input message="tns:SpreadTheWordHttpPostIn" />
      <wsdl:output message="tns:SpreadTheWordHttpPostOut" />
    </wsdl:operation>
    <wsdl:operation name="GetDemographics">
      <wsdl:documentation xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">Returns the Demographics of Community-Credit users</wsdl:documentation>
      <wsdl:input message="tns:GetDemographicsHttpPostIn" />
      <wsdl:output message="tns:GetDemographicsHttpPostOut" />
    </wsdl:operation>
    <wsdl:operation name="GetTopEarnersByDateRange">
      <wsdl:documentation xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">Returns the Top Community Credit Point Earners for a Date Range</wsdl:documentation>
      <wsdl:input message="tns:GetTopEarnersByDateRangeHttpPostIn" />
      <wsdl:output message="tns:GetTopEarnersByDateRangeHttpPostOut" />
    </wsdl:operation>
    <wsdl:operation name="PointCategoriesAll">
      <wsdl:documentation xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">Returns All Point Categories</wsdl:documentation>
      <wsdl:input message="tns:PointCategoriesAllHttpPostIn" />
      <wsdl:output message="tns:PointCategoriesAllHttpPostOut" />
    </wsdl:operation>
    <wsdl:operation name="GetEarnersByDateRangeAndEmail">
      <wsdl:documentation xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">Returns Community Credit Point Earners by Date Range and Email</wsdl:documentation>
      <wsdl:input message="tns:GetEarnersByDateRangeAndEmailHttpPostIn" />
      <wsdl:output message="tns:GetEarnersByDateRangeAndEmailHttpPostOut" />
    </wsdl:operation>
    <wsdl:operation name="SendConfirmationEmail">
      <wsdl:documentation xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">Send a Confirmation message to the new member that just signed up</wsdl:documentation>
      <wsdl:input message="tns:SendConfirmationEmailHttpPostIn" />
      <wsdl:output message="tns:SendConfirmationEmailHttpPostOut" />
    </wsdl:operation>
    <wsdl:operation name="SendWelcomeEmail">
      <wsdl:documentation xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">Send a Welcome message to the new member</wsdl:documentation>
      <wsdl:input message="tns:SendWelcomeEmailHttpPostIn" />
      <wsdl:output message="tns:SendWelcomeEmailHttpPostOut" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="AffiliateServicesSoap" type="tns:AffiliateServicesSoap">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="AddNewsgroupItem">
      <soap:operation soapAction="http://www.community-credit.com/AddNewsgroupItem" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GenerateFutureCredit">
      <soap:operation soapAction="http://www.community-credit.com/GenerateFutureCredit" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="AutoSubmitBlog">
      <soap:operation soapAction="http://www.community-credit.com/AutoSubmitBlog" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="AddNewsgroupCredit">
      <soap:operation soapAction="http://www.community-credit.com/AddNewsgroupCredit" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="AddCommunityCredit">
      <soap:operation soapAction="http://www.community-credit.com/AddCommunityCredit" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetTopEarners">
      <soap:operation soapAction="http://www.community-credit.com/GetTopEarners" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="SpreadTheWord">
      <soap:operation soapAction="http://www.community-credit.com/SpreadTheWord" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetDemographics">
      <soap:operation soapAction="http://www.community-credit.com/GetDemographics" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetTopEarnersByDateRange">
      <soap:operation soapAction="http://www.community-credit.com/GetTopEarnersByDateRange" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="PointCategoriesAll">
      <soap:operation soapAction="http://www.community-credit.com/PointCategoriesAll" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetEarnersByDateRangeAndEmail">
      <soap:operation soapAction="http://www.community-credit.com/GetEarnersByDateRangeAndEmail" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="SendConfirmationEmail">
      <soap:operation soapAction="http://www.community-credit.com/SendConfirmationEmail" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="SendWelcomeEmail">
      <soap:operation soapAction="http://www.community-credit.com/SendWelcomeEmail" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:binding name="AffiliateServicesSoap12" type="tns:AffiliateServicesSoap">
    <soap12:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="AddNewsgroupItem">
      <soap12:operation soapAction="http://www.community-credit.com/AddNewsgroupItem" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GenerateFutureCredit">
      <soap12:operation soapAction="http://www.community-credit.com/GenerateFutureCredit" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="AutoSubmitBlog">
      <soap12:operation soapAction="http://www.community-credit.com/AutoSubmitBlog" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="AddNewsgroupCredit">
      <soap12:operation soapAction="http://www.community-credit.com/AddNewsgroupCredit" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="AddCommunityCredit">
      <soap12:operation soapAction="http://www.community-credit.com/AddCommunityCredit" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetTopEarners">
      <soap12:operation soapAction="http://www.community-credit.com/GetTopEarners" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="SpreadTheWord">
      <soap12:operation soapAction="http://www.community-credit.com/SpreadTheWord" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetDemographics">
      <soap12:operation soapAction="http://www.community-credit.com/GetDemographics" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetTopEarnersByDateRange">
      <soap12:operation soapAction="http://www.community-credit.com/GetTopEarnersByDateRange" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="PointCategoriesAll">
      <soap12:operation soapAction="http://www.community-credit.com/PointCategoriesAll" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetEarnersByDateRangeAndEmail">
      <soap12:operation soapAction="http://www.community-credit.com/GetEarnersByDateRangeAndEmail" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="SendConfirmationEmail">
      <soap12:operation soapAction="http://www.community-credit.com/SendConfirmationEmail" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="SendWelcomeEmail">
      <soap12:operation soapAction="http://www.community-credit.com/SendWelcomeEmail" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:binding name="AffiliateServicesHttpGet" type="tns:AffiliateServicesHttpGet">
    <http:binding verb="GET" />
    <wsdl:operation name="AddNewsgroupItem">
      <http:operation location="/AddNewsgroupItem" />
      <wsdl:input>
        <http:urlEncoded />
      </wsdl:input>
      <wsdl:output>
        <mime:mimeXml part="Body" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GenerateFutureCredit">
      <http:operation location="/GenerateFutureCredit" />
      <wsdl:input>
        <http:urlEncoded />
      </wsdl:input>
      <wsdl:output>
        <mime:mimeXml part="Body" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="AutoSubmitBlog">
      <http:operation location="/AutoSubmitBlog" />
      <wsdl:input>
        <http:urlEncoded />
      </wsdl:input>
      <wsdl:output>
        <mime:mimeXml part="Body" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="AddNewsgroupCredit">
      <http:operation location="/AddNewsgroupCredit" />
      <wsdl:input>
        <http:urlEncoded />
      </wsdl:input>
      <wsdl:output>
        <mime:mimeXml part="Body" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="AddCommunityCredit">
      <http:operation location="/AddCommunityCredit" />
      <wsdl:input>
        <http:urlEncoded />
      </wsdl:input>
      <wsdl:output>
        <mime:mimeXml part="Body" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetTopEarners">
      <http:operation location="/GetTopEarners" />
      <wsdl:input>
        <http:urlEncoded />
      </wsdl:input>
      <wsdl:output>
        <mime:mimeXml part="Body" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="SpreadTheWord">
      <http:operation location="/SpreadTheWord" />
      <wsdl:input>
        <http:urlEncoded />
      </wsdl:input>
      <wsdl:output>
        <mime:mimeXml part="Body" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetDemographics">
      <http:operation location="/GetDemographics" />
      <wsdl:input>
        <http:urlEncoded />
      </wsdl:input>
      <wsdl:output>
        <mime:mimeXml part="Body" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetTopEarnersByDateRange">
      <http:operation location="/GetTopEarnersByDateRange" />
      <wsdl:input>
        <http:urlEncoded />
      </wsdl:input>
      <wsdl:output>
        <mime:mimeXml part="Body" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="PointCategoriesAll">
      <http:operation location="/PointCategoriesAll" />
      <wsdl:input>
        <http:urlEncoded />
      </wsdl:input>
      <wsdl:output>
        <mime:mimeXml part="Body" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetEarnersByDateRangeAndEmail">
      <http:operation location="/GetEarnersByDateRangeAndEmail" />
      <wsdl:input>
        <http:urlEncoded />
      </wsdl:input>
      <wsdl:output>
        <mime:mimeXml part="Body" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="SendConfirmationEmail">
      <http:operation location="/SendConfirmationEmail" />
      <wsdl:input>
        <http:urlEncoded />
      </wsdl:input>
      <wsdl:output />
    </wsdl:operation>
    <wsdl:operation name="SendWelcomeEmail">
      <http:operation location="/SendWelcomeEmail" />
      <wsdl:input>
        <http:urlEncoded />
      </wsdl:input>
      <wsdl:output />
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:binding name="AffiliateServicesHttpPost" type="tns:AffiliateServicesHttpPost">
    <http:binding verb="POST" />
    <wsdl:operation name="AddNewsgroupItem">
      <http:operation location="/AddNewsgroupItem" />
      <wsdl:input>
        <mime:content type="application/x-www-form-urlencoded" />
      </wsdl:input>
      <wsdl:output>
        <mime:mimeXml part="Body" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GenerateFutureCredit">
      <http:operation location="/GenerateFutureCredit" />
      <wsdl:input>
        <mime:content type="application/x-www-form-urlencoded" />
      </wsdl:input>
      <wsdl:output>
        <mime:mimeXml part="Body" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="AutoSubmitBlog">
      <http:operation location="/AutoSubmitBlog" />
      <wsdl:input>
        <mime:content type="application/x-www-form-urlencoded" />
      </wsdl:input>
      <wsdl:output>
        <mime:mimeXml part="Body" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="AddNewsgroupCredit">
      <http:operation location="/AddNewsgroupCredit" />
      <wsdl:input>
        <mime:content type="application/x-www-form-urlencoded" />
      </wsdl:input>
      <wsdl:output>
        <mime:mimeXml part="Body" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="AddCommunityCredit">
      <http:operation location="/AddCommunityCredit" />
      <wsdl:input>
        <mime:content type="application/x-www-form-urlencoded" />
      </wsdl:input>
      <wsdl:output>
        <mime:mimeXml part="Body" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetTopEarners">
      <http:operation location="/GetTopEarners" />
      <wsdl:input>
        <mime:content type="application/x-www-form-urlencoded" />
      </wsdl:input>
      <wsdl:output>
        <mime:mimeXml part="Body" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="SpreadTheWord">
      <http:operation location="/SpreadTheWord" />
      <wsdl:input>
        <mime:content type="application/x-www-form-urlencoded" />
      </wsdl:input>
      <wsdl:output>
        <mime:mimeXml part="Body" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetDemographics">
      <http:operation location="/GetDemographics" />
      <wsdl:input>
        <mime:content type="application/x-www-form-urlencoded" />
      </wsdl:input>
      <wsdl:output>
        <mime:mimeXml part="Body" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetTopEarnersByDateRange">
      <http:operation location="/GetTopEarnersByDateRange" />
      <wsdl:input>
        <mime:content type="application/x-www-form-urlencoded" />
      </wsdl:input>
      <wsdl:output>
        <mime:mimeXml part="Body" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="PointCategoriesAll">
      <http:operation location="/PointCategoriesAll" />
      <wsdl:input>
        <mime:content type="application/x-www-form-urlencoded" />
      </wsdl:input>
      <wsdl:output>
        <mime:mimeXml part="Body" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetEarnersByDateRangeAndEmail">
      <http:operation location="/GetEarnersByDateRangeAndEmail" />
      <wsdl:input>
        <mime:content type="application/x-www-form-urlencoded" />
      </wsdl:input>
      <wsdl:output>
        <mime:mimeXml part="Body" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="SendConfirmationEmail">
      <http:operation location="/SendConfirmationEmail" />
      <wsdl:input>
        <mime:content type="application/x-www-form-urlencoded" />
      </wsdl:input>
      <wsdl:output />
    </wsdl:operation>
    <wsdl:operation name="SendWelcomeEmail">
      <http:operation location="/SendWelcomeEmail" />
      <wsdl:input>
        <mime:content type="application/x-www-form-urlencoded" />
      </wsdl:input>
      <wsdl:output />
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="AffiliateServices">
    <wsdl:port name="AffiliateServicesSoap" binding="tns:AffiliateServicesSoap">
      <soap:address location="http://www.community-credit.com/services/affiliateservices.asmx" />
    </wsdl:port>
    <wsdl:port name="AffiliateServicesSoap12" binding="tns:AffiliateServicesSoap12">
      <soap12:address location="http://www.community-credit.com/services/affiliateservices.asmx" />
    </wsdl:port>
    <wsdl:port name="AffiliateServicesHttpGet" binding="tns:AffiliateServicesHttpGet">
      <http:address location="http://www.community-credit.com/services/affiliateservices.asmx" />
    </wsdl:port>
    <wsdl:port name="AffiliateServicesHttpPost" binding="tns:AffiliateServicesHttpPost">
      <http:address location="http://www.community-credit.com/services/affiliateservices.asmx" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>